$-color-vice-theme: #909090;
$-color-gray: rgb(178, 186, 194);
$-color-gray-light: #f1f1f1;
$-color-gray-light2: #edeeef;
$-color-gray-hover: #F7F8FA;
$-color-gray-hover-light: #FCFCFC;
$-color-background: #F4F5F5;
$-color-background-light: #f8f9fa;
$-color-shadow: rgba(0, 0, 0, .05);
$-color-primary-blue: #409EFF;
