.page-wrapper {
  margin-bottom: 10em;
  position: relative;
  @media screen and (max-width: 624px) {
    /*手机端*/
    top: 100px;
  }
  @media screen and (min-width: 625px) {
    top: 61px;
  }
}

.form-wrapper {
  margin-top: 2em;
  padding: 3em 3em 5em 3em;
  background: #f6fafa;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
.form-item {
  margin-left: 1.25em;
}
.bread-crumb {
  margin:{
    top:3em;
    left:.3em;
  }
}
.news-submit{
  width:80px;
  margin-top:1.5em;
}
