@import '~element-ui/packages/theme-chalk/src/common/var.scss';

$color-deepBlue: #3E5D71;
$color-lightBlue: #6E87AA;

.page-wrapper {
  margin-bottom: 10em;
  position: relative;
  @media screen and (max-width: 624px) {
    /*手机端*/
    top: 100px;
  }
  @media screen and (min-width: 625px) {
    top: 61px;
  }
}

.content {
  position: relative;
  transition: transform .3s ease-in;
  padding: {
    left: .7em;
    right: .7em;
  }
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 80%;
  .breadcrumb {
    background-color: white;
    margin-top: 2em;
  }
}

.sidebar {
  position: fixed;
  z-index: 1;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.moveRight {
  transform: translateX(150px);
}
